@use '/src/scss/common/variables' as v;
@use '/src/scss/common/mixins' as m;

.pets-slider {
  .container {
    @include m.flex-settings (column, no-wrap, 60px, start, center);
  }

  &__slider {
    display: grid;
    grid-template-columns: 52px 1fr 52px;
    gap: 0 53px;
    align-items: center;
    transition: gap .4s ease;
    flex-shrink: 0;
    width: 100%;
  }

  &__slides {
    @include m.flex-settings (row, no-wrap, 90px, start, stretch);
    flex: 1 1 auto;
    width: 100%;
    overflow: hidden;
    transition: gap .4s ease;
  }

  &__btn {
    padding: 15px 40px;
    width: 261px;
    background: v.$color-primary;
  }

  .left-arrow,
  .right-arrow {
    background-color: inherit;
  }

  .left-arrow:hover,
  .right-arrow:hover {
    background-color: v.$color-primary-light;
  }

  .right-arrow {
    transform: rotate(180deg);
  }
}

@media (max-width: 940px) {
  .pets-slider{
    &__slider {
      gap: 12px;
    }

    &__slides {
      gap: 40px;
    }
  }
}

@media (max-width: 460px) {
  .pets-slider{
    .container {
      gap: 42px;
    }

    &__slider {
      grid-template-columns: 1fr;
      grid-template-areas: 
      "slides slides"
      "left-btn right-btn";
      gap: 20px;
      padding: 0 15px;
    }

    &__slides {
      grid-area: slides;
    }

    .left-arrow {
      grid-area: left-btn;
      margin-left: 44px;
    }

    .right-arrow {
      grid-area: right-btn;
      margin-right: 44px;
    }
  }
}