@use '/src/scss/common/variables' as v;
@use '/src/scss/common/mixins' as m;

footer {
  margin-top: auto;
  
  .container {
    padding: 40px 40px 0;
    @include m.flex-settings (row, no-wrap, 150px, center, stretch);
    transition: gap .4s ease;
  }

  .contacts,
  .location {
    margin-top: 14px;
    flex-shrink: 0;
    margin-right: 5px;

    &__title {
      color: v.$color-light-xl;
    }

    &__item {
      @include m.flex-settings (row, no-wrap, 20px, start, center);
      font-family: v.$font-family;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: v.$color-primary;
    }
  }

  .contacts {
    @include m.flex-settings (column, no-wrap, 40px, start, stretch);
    max-width: 285px;

    .phone {
      font-size: 1.4375rem;
    }
  }

  .location {
    @include m.flex-settings (column, no-wrap, 32px, start, stretch);
    max-width: 302px;
    min-width: 300px;
  }

  .footer-img {
    flex: 1 1 auto;
    max-width: 300px;
  }

}

@media (max-width: 1280px) {
  footer {  
    .container {
      gap: 60px;
    }
  }
}

@media (max-width: 1050px) {
  footer {  
    .container {
      padding: 30px 30px 0;
      flex-wrap: wrap;
    }

    .contacts,
    .location {
      margin: 0 0 5px 0;
    }

    .location {
      gap: 34px;
    }
  }
}