@use '/src/scss/common/variables' as v;
@use '/src/scss/common/mixins' as m;

.helps {
  .container {
    @include m.flex-settings (column, no-wrap, 60px, start, center);
  }

  &__title {
    text-align: center;
  }

  &__list {
    @include m.flex-settings (row, wrap, 55px 120px, center, stretch);
    text-align: center;

    img {
      margin: 0 auto 30px;
    }

    figcaption {
      font-family: v.$font-family;
      font-size: 1.25rem;
      line-height: 115%;
      letter-spacing: 0.06em;
    }
  }
}

@media (max-width: 769px) {
  .helps__list {
    column-gap: 60px;

    figure {
      flex-shrink: 0;
      width: 170px;
    }
  }
}