@use '/src/scss/common/variables' as v;
@use '/src/scss/common/mixins' as m;

.donation {
  .container {
    @include m.flex-settings (row, no-wrap, 30px, center, center);
  }

  &__info {
    @include m.flex-settings (column, no-wrap, 20px, start, stretch);
    max-width: 380px;
  }

  &__bank {
    font-family: v.$font-family;
    font-size: 0.9375rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: v.$color-dark-l;
  }

  &__number {
    @include m.flex-settings (row, no-wrap, 15px, start, stretch);
    border-radius: 9px;
    padding: 10px 15px;
    background: v.$color-primary;
    max-width: 349px;

    figcaption {
      font-family: v.$font-family;
      font-size: 1.25rem;
      line-height: 115%;
      letter-spacing: 0.11em;
      color: v.$color-dark-l;
    }
  }

  &__legal {
    font-style: italic;
    font-size: 0.75rem;
    line-height: 150%;
    color: v.$color-dark-m;
    letter-spacing: 0.03em;
  }
}