@use '/src/scss/common/variables' as v;
@use '/src/scss/common/mixins' as m;

.not-only {
  .container {
    padding-top: 60px;
    padding-bottom: 0;
    @include m.flex-settings (row, no-wrap, 42px, start, stretch);
  }
}

.offer {
  @include m.flex-settings (column, no-wrap, 42px, center, stretch);
  margin-top: -80px;
  flex-shrink: 0;
  max-width: 460px;
  min-width: 300px;
  
  &__title {
    font-size: 2.73rem;
    line-height: 130%;
    color: v.$color-light-xl;
    letter-spacing: normal;
    transition: font-size .4s ease;
  }
  
  &__text {
    color: v.$color-dark-s;
  }

  &__btn {
    width: 207px;
    background: v.$color-primary;
  }
}

.start-screen-puppy {
  flex: 1 1 auto;
  max-width: 698px;
  min-width: 260px;
}

@media (max-width: 1000px) {
  .not-only {
    .container {
      @include m.flex-settings (column, no-wrap, 100px, start, center);
      padding-top: 26px;
    }
  }

  .offer {
    margin-top: auto;

    &__btn {
      align-self: center;
    }
  }

  .start-screen-puppy {
    align-self: flex-end;
    padding-left: 130px;
  }

}

@media (max-width: 530px) {
  .not-only {
    .container {
      gap: 105px;
    }
  }

  .offer {
    &__title {
      font-size: 1.6rem;
      letter-spacing: 0.06em;
      text-align: center;
    }
  
    &__text {
      text-align: center;
      line-height: 150%;
    }
  }

  .start-screen-puppy {
    padding-left: 40px;
  }
}