@use '/src/scss/common/variables' as v;
@use '/src/scss/common/extends';
@use '/src/scss/common/mixins' as m;

html {
  scroll-behavior: smooth;
  @include m.typography (v.$second-family, 400, 16px, 160%, normal, v.$color-dark-xl);
}

body {
  background-color: v.$color-light-xl;
}

h1,
h2,
h3 {
  @include m.typography (v.$font-family, 400, 2rem, 100%, 0.05em, v.$color-dark-l);
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li { list-style: none; }
p { margin: 0; } 

.bg-transparent {
  background:
    url('/src/assets/noise_transparent.png'),
    radial-gradient(
      circle at -45% -10%,
      rgba(91, 72, 58, 1) 0%,
      rgba(91, 72, 58, 1) 40%,
      rgba(38, 36, 37, 1) 80%,
      rgba(38, 36, 37, 1) 100%),
    v.$start-screen-gradient-background;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 80px 40px 100px;
}

.btn {
  border-radius: 100px;
  @include m.typography (v.$font-family, 400, 1.1rem, 130%, 0.04em, v.$color-dark-3xl);
}

.btn:hover {
  background: v.$color-primary-light;
}