@use '/src/scss/common/variables' as v;
@use '/src/scss/common/mixins' as m;

header {
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
    @include m.flex-settings (row, no-wrap, 0, space-between, center);
  }
}

.logo {
  @include m.flex-settings (column, no-wrap, 0, start, stretch);

  &__title {
    color: v.$color-primary;
  }

  &__subtitle {
    font-size: 0.9375rem;
    letter-spacing:  0.058em;
    padding: 8px 0 0 5px;
    margin-bottom: -5px;
    color: v.$color-light-s;
  }
}

.navigation {
  ul {
    @include m.flex-settings (row, no-wrap, 35px, start, center);

    a { color: v.$color-dark-s; }
    a:hover { color: v.$color-light-s; }

    .active {
      color: v.$color-light-s;
      border-bottom: 3px solid v.$color-primary;
    }
  }
  
  .mobile {
    display: none;
  }
}

.pets-page {
  .logo__title,
  .navigation a {
    color: v.$color-dark-l;
  }

  .navigation ul a:hover,
  .navigation ul .active,
  .logo__subtitle {
    color: v.$color-dark-3xl;
  }
}

@media (max-width: 767px) {
  .navigation {
    position: static;
    z-index: 2;

    ul {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 0;
      height: 100vh;
      overflow: hidden;
      gap: 40px;
      flex-direction: column;
      justify-content: center;
      background-color: v.$color-dark-3xl;
      transition: width .6s ease;

      li {
        min-width: max-content;
      }

      a,
      .active {
        font-size: 32px;
        line-height: 160%;
      }
    }

    .mobile {
      @include m.flex-settings (column, no-wrap, 8px, start, stretch);
      cursor: pointer;
      transition: transform .6s ease;

      span {
        border: 1px solid v.$color-primary;
        width: 30px;
        height: 0px;
      }
    }
  }

  .pets-page {
    .navigation {
      .mobile {
        span {
          border-color: #000000;
        }
      }
    }
  }

  .pets-page .show-menu,
  .show-menu {
    position: fixed;
    inset: 0;
    background-color: rgba($color: v.$color-dark-3xl, $alpha: .5);
    cursor: pointer;

    ul {
      width: 320px;
      cursor: default;

      a { color: v.$color-dark-s; }
      a:hover { color: v.$color-light-s; }

      .active {
        color: v.$color-light-s;
        border-bottom: 3px solid v.$color-primary;
        cursor: pointer;
      }
    }

    .mobile {
      position: absolute;
      top: 49px;
      right: 20px;
      z-index: 3;
      transform: rotate(90deg);

      span {
        border-color: v.$color-primary;
      }
    }
  }
}

@media (max-width: 350px) {
  header {
  .container {
    padding: 30px 20px;
  }
}
}